<div class="validator">
  <h2>Add a new Employee iNES</h2>
 
  <form [formGroup]="ValidatorForm" (ngSubmit)="onSubmit()" class="form"> 
 
    <div class="col">
      <label for="firstname">First Name </label>
      <input type="text" id="firstname" name="firstname" formControlName="fname">
       <div style="color:red" *ngIf="submitted && fname.hasError('required')">firstName is required</div>
    </div>
   
    <div class="col">
      <label for="lastname">Last Name </label>
      <input type="text" id="lastname" name="lastname" formControlName="lname">
      <div style="color:red" *ngIf="submitted && lname.hasError('required')">last name is required</div>
    </div>
   
    <div class="col">
      <label for="email">Email </label><br>
      <input type="text" id="email" name="email" formControlName="email">
      <div style="color:red" *ngIf="submitted && email.hasError('required')">email is required</div>
      <div style="color: red" *ngIf="email.hasError('email')">email must be format email</div>
      <div style="color: red;"*ngIf="validateEmail === false">email should not containt @yopmail.com</div>  
    </div>

     <div class="col">
      <label for="age">Age </label><br>
      <input type="text" id="age" name="email" formControlName="age">
      <div style="color: red;" *ngIf="submitted && age.hasError('required') " value="">age is required</div>
      <div style="color: red;">{{messageError}}</div>
     </div>

     <div class="col">
      <label for="age">Date of birth </label>
      <input type="text" id="age" name="dof" formControlName="birthday">
      <div style="color: red;" *ngIf="submitted && birthday.hasError('required')">Date of birth is required</div>
     </div>
   
    <div class="col">
      <label for="gender">Geneder 
        <input type="radio" value="male" id="gender" name="gender" formControlName="gender"> Male
      </label>
      <label>
        <input type="radio" value="female" id="gender" name="gender" formControlName="gender"> Female
      </label>
      
      <div style="color: red" *ngIf="gender.touched && gender.invalid && gender.hasError('required')">please select option</div>
    </div>
   <br>
    <div class="col">
      <label for="isMarried">Married </label>
      <input type="checkbox" id="isMarried" name="isMarried" formControlName="married">
      <div style="color: red;" *ngIf="submitted && married.hasError('required')">Married is required</div>
    </div>
   
   
    <div class="col">
      <select id="country" name="country" formControlName="country">
            <option value="" selected>select Country</option>
        <option value="India">India</option>
        <option value="USA">USA</option>
        <option value="England">England</option>
        <option value="Singapore">Singapore</option>
      </select>
      <div style="color: red;" *ngIf="submitted && country.hasError('required')">county must be selected</div>
    </div>
   
    <div class="col">
      <input type="submit" value="Submit">
      <div style="color: green; font-size: 30px;">{{successMessage}}</div>
    </div>
   
  </form>
</div>